@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CategoryPJ.Models.ModelsView.MailGroupView>

@{
    ViewBag.Title = "showMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? IdMem = ViewBag.MemId as int?;
}

@section slide{
<div class="grow">
    <div class="container">
        <h2>ShowMail</h2>
    </div>
</div>
    }

<p>
    <a href="@Url.Action("AddMail","MailGroup", new { id = IdMem})" style="margin-left:30px;" class="btn btn-success">Add Mail</a>
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @(i++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "updateMail", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "deleteMail", new { id = item.ID, MemId = ViewBag.MemId })
                </td>
            </tr>
        }
    }
</table>
<div style="clear:both"></div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="Menutrang">
    @Html.PagedListPager(Model, page => Url.Action("showMail", new { name = ViewBag.Keyword, page = page }))
</div>
<style>
    .Menutrang li {
        display: inline;
        margin-right: 10px;
    }
</style>