@model IEnumerable<CategoryPJ.Models.ModelsView.FeedBackView>

@{
    ViewBag.Title = "ShowFeedBack";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    <h2>ShowFeedBack</h2>
}
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDMem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDMem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
