@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_Greetings.Models.ModelsView.TemplateModelView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Client_LayoutPage.cshtml";
}

<h2>Index</h2>
@foreach (var product in Model)
{
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;float:left;">
        <div class="thumbnail product-item" style="height:250px">
            <a href="@Url.Action("TempDetail","temp_user",new { id = product.ID,userId = ViewBag.userId})">
                <img class="img-responsive" style="cursor:pointer;height:160px;width:100%" src="~/Content/Uploads/@product.ImagePath" />
            </a>
                <div class="caption">
                <h3>@product.Title</h3>
            </div>
        </div>
    </div>
}
<div style="clear:both"></div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="Menutrang">
    @Html.PagedListPager(Model, page => Url.Action("showTemp", new { name = ViewBag.Keyword, page = page }))
</div>
<style>
    .Menutrang li {
        display: inline;
        margin-right: 10px;
    }
</style>
