@model PagedList.IPagedList<Models.EF.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sach hoa don";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<Models.EF.OrderDetail> listDetail = ViewBag.listDetail as List<Models.EF.OrderDetail>;  
}

@section header{
    Danh sach hoa don
}
<br /><br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sach hoa don</h3>
        @using (Html.BeginForm("Index", "Order", FormMethod.Get, new { @style = "margin-left:1060px;" }))
        {
            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="keyword" value="@ViewBag.keyword" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Ten khach hang</th>
                    <th>Ngay Mua</th>
                    <th>Tong tien</th>
                    <th>Thanh Toan</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    decimal? price = 0;
                <tr>
                    <td>
                        <a href="/Admin/Order/detail/@item.ID">Chi Tiet</a> |
                        @Ajax.ActionLink("Xoa", "Delete", new { @id = item.ID }, new AjaxOptions
                   {
                       Confirm = "Ban co muon xoa ban ghi nay?",
                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                       HttpMethod = "Delete"
                   })
                    </td>
                    <td>@item.ShipName</td>
                    <td>@item.CreateDate</td>
                    @for (int i = 0; i <= listDetail.Count; i++)
                    {
                        if (listDetail[i].OrderID == item.ID)
                        {
                            price = listDetail.ElementAt(i).Price*listDetail.ElementAt(i).Quantity + price;
                        }
                        if (i == listDetail.Count - 1)
                        {
                            <td>@price</td>
                            break;
                        }
                    }
                    <td>@(item.Status == 1 ? "Xong" : "Chua")</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @keyword = ViewBag.keyword }))
</div>
