
@model List<Models.EF.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = (List<Models.EF.Category>)ViewBag.categories;
    var produce = (List<Models.EF.Produce>)ViewBag.produce;
    var prodetail = (List<Models.EF.ProduceDetail>)ViewBag.prodetail;
    var news = (List<Models.EF.News>)ViewBag.news;
}
@section banner{
        <div class="block-banner-deal">
            <ul id="slide_div" class="owl-carousel">
                <li class="item">
                    <a href="https://noithatdogoviet.com/chuong-trinh-khuyen-mai.html" title="Khuyến Mãi Giường Ngủ Tháng 07 2019"><img src="~/Assets/Client/images/upload/banner/khuyen-mai-giuong-ngu-thang-07-2019-2.jpg" alt="Khuyến Mãi Giường Ngủ Tháng 07 2019" style="opacity:1;" class="owl-lazy"></a>
                </li>

                <li class="item">
                    <a href="" title="Tết 2020"><img src="~/Assets/Client/images/upload/banner/tet-2020-3.jpg" style="opacity:1;" alt="Tết 2020" class="owl-lazy"></a>
                </li>

            </ul>
            <span id="element_slide"></span>
        </div>
}
<div class="clear20"></div>
<div class="divide">
    <img src="~/Assets/Client/images/images/divider.png" />
</div>
<div class="title_sale">
    <h2>
        <a title="Sản phẩm bán chạy">Sản phẩm bán chạy</a>
    </h2>
</div>
<div class="rowsp owl-carousel" id="sale_div">
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 14%</span>
            <div class="images">
                <a href="giuong-ngu-thiet-ke-duoi-cong-mem-mai-go-xoan-dao-mau-trang.html" title="Giường Ngủ Thiết Kế Đuôi Cong Mềm Mại Gỗ Xoan Đào Màu Trắng"><img src="~/Assets/Client/images/upload/sanpham/thumbs/giuong-ngu-thiet-ke-duoi-cong-mem-mai-go-xoan-dao-mau-trang.jpg" alt="Giường Ngủ Thiết Kế Đuôi Cong Mềm Mại Gỗ Xoan Đào Màu..."></a>
            </div>
            <h3><a href="giuong-ngu-thiet-ke-duoi-cong-mem-mai-go-xoan-dao-mau-trang.html" title="Giường Ngủ Thiết Kế Đuôi Cong Mềm Mại Gỗ Xoan Đào Màu Trắng">Giường Ngủ Thiết Kế Đuôi Cong Mềm Mại Gỗ Xoan Đào Màu...</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: GN502C-160MT</span></p>
                <p class="giaban">12.500.000<sup>đ</sup></p>
                <del>14.500.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 19%</span>
            <div class="images">
                <a href="salon-go-xoan-dao-nau-canh-gian-tay-10-6-mon.html" title="Salon Gỗ Xoan Đào Nâu Cánh Gián Tay 10 6 Món"><img src="~/Assets/Client/images/upload/sanpham/thumbs/salon-go-xoan-dao-nau-canh-gian-tay-10-6-mon.jpg" alt="Salon Gỗ Xoan Đào Nâu Cánh Gián Tay 10 6 Món"></a>
            </div>
            <h3><a href="salon-go-xoan-dao-nau-canh-gian-tay-10-6-mon.html" title="Salon Gỗ Xoan Đào Nâu Cánh Gián Tay 10 6 Món">Salon Gỗ Xoan Đào Nâu Cánh Gián Tay 10 6 Món</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: SL601T-106CG</span></p>
                <p class="giaban">12.500.000<sup>đ</sup></p>
                <del>15.500.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 21%</span>
            <div class="images">
                <a href="giuong-ngu-mau-trang-hien-dai-dep-gia-re.html" title="Giường Ngủ Màu Trắng Hiện Đại Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/giuong-ngu-mau-trang-hien-dai-dep-gia-re.jpg" alt="Giường Ngủ Màu Trắng Hiện Đại Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="giuong-ngu-mau-trang-hien-dai-dep-gia-re.html" title="Giường Ngủ Màu Trắng Hiện Đại Đẹp Giá Rẻ">Giường Ngủ Màu Trắng Hiện Đại Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: GN01N-160MT</span></p>
                <p class="giaban">3.800.000<sup>đ</sup></p>
                <del>4.800.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 18%</span>
            <div class="images">
                <a href="giuong-ngu-hop-hien-dai-mdf-veneer-soi-dep-gia-re.html" title="Giường Ngủ Hộp Hiện Đại MDF Veneer Sồi Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/giuong-ngu-hop-hien-dai-mdf-veneer-soi-dep-gia-re.jpg" alt="Giường Ngủ Hộp Hiện Đại MDF Veneer Sồi Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="giuong-ngu-hop-hien-dai-mdf-veneer-soi-dep-gia-re.html" title="Giường Ngủ Hộp Hiện Đại MDF Veneer Sồi Đẹp Giá Rẻ">Giường Ngủ Hộp Hiện Đại MDF Veneer Sồi Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: GN02H-160VS</span></p>
                <p class="giaban">4.500.000<sup>đ</sup></p>
                <del>5.500.000</del>
            </div>

        </div>
    </li>
</div>
<span id="element_sale"></span>
<div class="title_sale">
    <h2>
        <a title="Sản phẩm mới nhất">Sản phẩm mới</a>
    </h2>
</div>
<div class="clear20"></div>
<div class="rowsp owl-carousel" id="new_div">

    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="icontext">XẢ KHO GIÁ CỰC SỐC - CHỈ CÓ 34TR</div><span class="discount">- 28%</span>
            <div class="images">
                <a href="ban-ghe-salon-go-huong-cham-nghe-dinh-tay-12.html" title="Bàn Ghế Salon Gỗ Hương Chạm Nghê Đỉnh Tay 12"><img src="~/Assets/Client/images/upload/sanpham/thumbs/ban-ghe-salon-go-huong-cham-nghe-dinh-tay-12.jpg" alt="Bàn Ghế Salon Gỗ Hương Chạm Nghê Đỉnh Tay 12"></a>
            </div>
            <h3><a href="ban-ghe-salon-go-huong-cham-nghe-dinh-tay-12.html" title="Bàn Ghế Salon Gỗ Hương Chạm Nghê Đỉnh Tay 12">Bàn Ghế Salon Gỗ Hương Chạm Nghê Đỉnh Tay 12</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: SL644T-126MN</span></p>
                <p class="giaban">34.000.000<sup>đ</sup></p>
                <del>47.500.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="icontext">XẢ KHO - GIÁ SỐC CHỈ 32TR</div><span class="discount">- 33%</span>
            <div class="images">
                <a href="bo-ban-ghe-salon-go-go-do-au-a-voi-tay-18-6-mon.html" title="Bộ Bàn Ghế Salon Gỗ Gõ Đỏ Âu Á Voi Tay 18 6 Món"><img src="~/Assets/Client/images/upload/sanpham/thumbs/bo-ban-ghe-salon-go-go-do-au-a-voi-5-mon.jpg" alt="Bộ Bàn Ghế Salon Gỗ Gõ Đỏ Âu Á Voi Tay 18 6 Món"></a>
            </div>
            <h3><a href="bo-ban-ghe-salon-go-go-do-au-a-voi-tay-18-6-mon.html" title="Bộ Bàn Ghế Salon Gỗ Gõ Đỏ Âu Á Voi Tay 18 6 Món">Bộ Bàn Ghế Salon Gỗ Gõ Đỏ Âu Á Voi Tay 18 6 Món</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: SL629T-186TN</span></p>
                <p class="giaban">32.000.000<sup>đ</sup></p>
                <del>47.500.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="icontext">GÕ ĐỎ 100% - TAY 12 - XẢ KHO 2020 - GIÁ CỰC SỐC</div><span class="discount">- 27%</span>
            <div class="images">
                <a href="ban-ghe-go-go-do-cao-cap-cham-nghe-dep-gia-tot.html" title="Bàn Ghế Gỗ Gõ Đỏ Cao Cấp Chạm Nghê Đẹp Giá Tốt"><img src="~/Assets/Client/images/upload/sanpham/thumbs/ban-ghe-go-go-do-cao-cap-cham-nghe-dep-gia-tot.jpg" alt="Bàn Ghế Gỗ Gõ Đỏ Cao Cấp Chạm Nghê Đẹp Giá Tốt"></a>
            </div>
            <h3><a href="ban-ghe-go-go-do-cao-cap-cham-nghe-dep-gia-tot.html" title="Bàn Ghế Gỗ Gõ Đỏ Cao Cấp Chạm Nghê Đẹp Giá Tốt">Bàn Ghế Gỗ Gõ Đỏ Cao Cấp Chạm Nghê Đẹp Giá Tốt</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: SL623T-126</span></p>
                <p class="giaban">33.000.000<sup>đ</sup></p>
                <del>45.500.000</del>
            </div>
        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="icontext">TAY 14 - 10 MÓN CHỈ 105TR</div><span class="discount">- 18%</span>
            <div class="images">
                <a href="salon-go-huong-cham-dao-tay-14-10-mon.html" title="Salon Gỗ Hương Chạm Đào Tay 14 - 10 Món"><img src="~/Assets/Client/images/upload/sanpham/thumbs/salon-go-huong-cham-dao-tay-14-10-mon.jpg" alt="Salon Gỗ Hương Chạm Đào Tay 14 - 10 Món"></a>
            </div>
            <h3><a href="salon-go-huong-cham-dao-tay-14-10-mon.html" title="Salon Gỗ Hương Chạm Đào Tay 14 - 10 Món">Salon Gỗ Hương Chạm Đào Tay 14 - 10 Món</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: SL641T-1410MN</span></p>
                <p class="giaban">115.000.000<sup>đ</sup></p>
                <del>140.000.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 15%</span>
            <div class="images">
                <a href="bo-noi-that-phong-ngu-go-mfc-van-soi-kieu-nhat-dep-gia-re.html" title="Bộ Nội Thất Phòng Ngủ Gỗ MFC Vân Sồi Kiểu Nhật Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/bo-noi-that-phong-ngu-go-mfc-van-soi-kieu-nhat-dep-gia-re.jpg" alt="Bộ Nội Thất Phòng Ngủ Gỗ MFC Vân Sồi Kiểu Nhật Đẹp Giá..."></a>
            </div>
            <h3><a href="bo-noi-that-phong-ngu-go-mfc-van-soi-kieu-nhat-dep-gia-re.html" title="Bộ Nội Thất Phòng Ngủ Gỗ MFC Vân Sồi Kiểu Nhật Đẹp Giá Rẻ">Bộ Nội Thất Phòng Ngủ Gỗ MFC Vân Sồi Kiểu Nhật Đẹp Giá...</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: PN04H-160VS</span></p>
                <p class="giaban">18.800.000<sup>đ</sup></p>
                <del>22.050.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 15%</span>
            <div class="images">
                <a href="bo-phong-ngu-go-cong-nghiep-hien-dai-kieu-nhat-dep-gia-re.html" title="Bộ Phòng Ngủ Gỗ Công Nghiệp Hiện Đại Kiểu Nhật Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/bo-phong-ngu-go-cong-nghiep-hien-dai-kieu-nhat-dep-gia-re.jpg" alt="Bộ Phòng Ngủ Gỗ Công Nghiệp Hiện Đại Kiểu Nhật Đẹp Giá..."></a>
            </div>
            <h3><a href="bo-phong-ngu-go-cong-nghiep-hien-dai-kieu-nhat-dep-gia-re.html" title="Bộ Phòng Ngủ Gỗ Công Nghiệp Hiện Đại Kiểu Nhật Đẹp Giá Rẻ">Bộ Phòng Ngủ Gỗ Công Nghiệp Hiện Đại Kiểu Nhật Đẹp Giá...</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: PN04H-160MK2</span></p>
                <p class="giaban">18.800.000<sup>đ</sup></p>
                <del>22.050.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 15%</span>
            <div class="images">
                <a href="bo-noi-that-phong-ngu-go-mfc-van-xoan-dao-dep-ben-re.html" title="Bộ Nội Thất Phòng Ngủ Gỗ MFC Vân Xoan Đào Đẹp Bền Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/bo-noi-that-phong-ngu-go-mfc-van-xoan-dao-dep-ben-re.jpg" alt="Bộ Nội Thất Phòng Ngủ Gỗ MFC Vân Xoan Đào Đẹp Bền Rẻ"></a>
            </div>
            <h3><a href="bo-noi-that-phong-ngu-go-mfc-van-xoan-dao-dep-ben-re.html" title="Bộ Nội Thất Phòng Ngủ Gỗ MFC Vân Xoan Đào Đẹp Bền Rẻ">Bộ Nội Thất Phòng Ngủ Gỗ MFC Vân Xoan Đào Đẹp Bền Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: PN04H-160XD</span></p>
                <p class="giaban">18.800.000<sup>đ</sup></p>
                <del>22.050.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 15%</span>
            <div class="images">
                <a href="bo-giuong-tu-phong-ngu-go-mfc-mau-nau-thiet-ke-nhat-dep-gia-re.html" title="Bộ Giường Tủ Phòng Ngủ Gỗ MFC Màu Nâu Thiết Kế Nhật Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/bo-giuong-tu-phong-ngu-go-mfc-mau-nau-thiet-ke-nhat-dep-gia-re.jpg" alt="Bộ Giường Tủ Phòng Ngủ Gỗ MFC Màu Nâu Thiết Kế Nhật Đẹp..."></a>
            </div>
            <h3><a href="bo-giuong-tu-phong-ngu-go-mfc-mau-nau-thiet-ke-nhat-dep-gia-re.html" title="Bộ Giường Tủ Phòng Ngủ Gỗ MFC Màu Nâu Thiết Kế Nhật Đẹp Giá Rẻ">Bộ Giường Tủ Phòng Ngủ Gỗ MFC Màu Nâu Thiết Kế Nhật Đẹp...</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: PN04H-160CG</span></p>
                <p class="giaban">18.800.000<sup>đ</sup></p>
                <del>22.050.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 15%</span>
            <div class="images">
                <a href="bo-phong-ngu-giuong-nhat-va-tu-co-ke-mau-kem-dep-gia-re.html" title="Bộ Phòng Ngủ Giường Nhật và Tủ Có Kệ Màu Kem Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/bo-phong-ngu-giuong-nhat-va-tu-co-ke-mau-kem-dep-gia-re.jpg" alt="Bộ Phòng Ngủ Giường Nhật và Tủ Có Kệ Màu Kem Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="bo-phong-ngu-giuong-nhat-va-tu-co-ke-mau-kem-dep-gia-re.html" title="Bộ Phòng Ngủ Giường Nhật và Tủ Có Kệ Màu Kem Đẹp Giá Rẻ">Bộ Phòng Ngủ Giường Nhật và Tủ Có Kệ Màu Kem Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: PN04H-160MK</span></p>
                <p class="giaban">18.800.000<sup>đ</sup></p>
                <del>22.050.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 14%</span>
            <div class="images">
                <a href="ban-tho-gia-tien-tay-cuon-go-cam-thi-1m34-dep-gia-re.html" title="Bàn Thờ Gia Tiên Tay Cuốn Gỗ Cẩm Thị 1m34 Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/ban-tho-gia-tien-tay-cuon-go-cam-thi-1m34-dep-gia-re.jpg" alt="Bàn Thờ Gia Tiên Tay Cuốn Gỗ Cẩm Thị 1m34 Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="ban-tho-gia-tien-tay-cuon-go-cam-thi-1m34-dep-gia-re.html" title="Bàn Thờ Gia Tiên Tay Cuốn Gỗ Cẩm Thị 1m34 Đẹp Giá Rẻ">Bàn Thờ Gia Tiên Tay Cuốn Gỗ Cẩm Thị 1m34 Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: BT804U-134TN</span></p>
                <p class="giaban">6.000.000<sup>đ</sup></p>
                <del>7.000.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 17%</span>
            <div class="images">
                <a href="ban-tho-cung-2-tang-go-cam-thi-dep-gia-re.html" title="Bàn Thờ Cúng 2 Tầng Gỗ Cẩm Thị Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/ban-tho-cung-2-tang-go-cam-thi-dep-gia-re.jpg" alt="Bàn Thờ Cúng 2 Tầng Gỗ Cẩm Thị Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="ban-tho-cung-2-tang-go-cam-thi-dep-gia-re.html" title="Bàn Thờ Cúng 2 Tầng Gỗ Cẩm Thị Đẹp Giá Rẻ">Bàn Thờ Cúng 2 Tầng Gỗ Cẩm Thị Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: BT802U-127TN</span></p>
                <p class="giaban">5.000.000<sup>đ</sup></p>
                <del>6.000.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 18%</span>
            <div class="images">
                <a href="ban-tho-2-tang-107-go-cam-thi-tu-nhien-dep-gia-re.html" title="Bàn Thờ 2 Tầng 107 Gỗ Cẩm Thị Tự Nhiên Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/ban-tho-2-tang-107-go-cam-thi-tu-nhien-dep-gia-re.jpg" alt="Bàn Thờ 2 Tầng 107 Gỗ Cẩm Thị Tự Nhiên Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="ban-tho-2-tang-107-go-cam-thi-tu-nhien-dep-gia-re.html" title="Bàn Thờ 2 Tầng 107 Gỗ Cẩm Thị Tự Nhiên Đẹp Giá Rẻ">Bàn Thờ 2 Tầng 107 Gỗ Cẩm Thị Tự Nhiên Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: BT802U-107TN</span></p>
                <p class="giaban">4.500.000<sup>đ</sup></p>
                <del>5.500.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 22%</span>
            <div class="images">
                <a href="ban-tho-1-tang-nho-go-cam-thi-dep-gia-re.html" title="Bàn Thờ 1 Tầng Nhỏ Gỗ Cẩm Thị Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/ban-tho-1-tang-nho-go-cam-thi-dep-gia-re.jpg" alt="Bàn Thờ 1 Tầng Nhỏ Gỗ Cẩm Thị Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="ban-tho-1-tang-nho-go-cam-thi-dep-gia-re.html" title="Bàn Thờ 1 Tầng Nhỏ Gỗ Cẩm Thị Đẹp Giá Rẻ">Bàn Thờ 1 Tầng Nhỏ Gỗ Cẩm Thị Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: BT801U-107TN</span></p>
                <p class="giaban">3.500.000<sup>đ</sup></p>
                <del>4.500.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 13%</span>
            <div class="images">
                <a href="giuong-ngu-co-dien-cham-noi-nguyen-khoi-day-10cm-dep-gia-tot.html" title="Giường Ngủ Cổ Điển Chạm Nổi Nguyên Khối Dày 10cm Đẹp Giá Tốt"><img src="~/Assets/Client/images/upload/sanpham/thumbs/giuong-ngu-co-dien-cham-noi-nguyen-khoi-day-10cm-dep-gia-tot.jpg" alt="Giường Ngủ Cổ Điển Chạm Nổi Nguyên Khối Dày 10cm Đẹp Giá..."></a>
            </div>
            <h3><a href="giuong-ngu-co-dien-cham-noi-nguyen-khoi-day-10cm-dep-gia-tot.html" title="Giường Ngủ Cổ Điển Chạm Nổi Nguyên Khối Dày 10cm Đẹp Giá Tốt">Giường Ngủ Cổ Điển Chạm Nổi Nguyên Khối Dày 10cm Đẹp Giá...</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: GN504C-180TN</span></p>
                <p class="giaban">139.800.000<sup>đ</sup></p>
                <del>160.000.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 14%</span>
            <div class="images">
                <a href="giuong-ngu-go-soi-hien-dai-cong-chu-s-dep-gia-re.html" title="Giường Ngủ Gỗ Sồi Hiện Đại Cong Chữ S Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/giuong-ngu-go-soi-hien-dai-cong-chu-s-dep-gia-re.jpg" alt="Giường Ngủ Gỗ Sồi Hiện Đại Cong Chữ S Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="giuong-ngu-go-soi-hien-dai-cong-chu-s-dep-gia-re.html" title="Giường Ngủ Gỗ Sồi Hiện Đại Cong Chữ S Đẹp Giá Rẻ">Giường Ngủ Gỗ Sồi Hiện Đại Cong Chữ S Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: GN502C-160VS</span></p>
                <p class="giaban">12.500.000<sup>đ</sup></p>
                <del>14.500.000</del>
            </div>

        </div>
    </li>
</div>
<span id="element_new"></span>
<div class="clear20"></div>
@foreach (var element in categories)
{
    <div class="title_home">
        <h2><a href="@element.MetaTitle" title="@element.Name">@element.Name</a></h2>
        <a class="xemtatca" href="@element.MetaTitle" title="@element.Name">Xem tất cả »</a>
    </div>
    <div class="clear"></div>
    <div class="rowsp">
        @foreach (var item in Model)
        {
            if (item.CategoryID == element.ID)
            {
                <div class="boxproduct">
                    <div class="grid">
                        @if (item.State != null)
                        {
                            <div class="icontext">@item.State</div>
                        }
                        <span class="discount">- @(Math.Round((decimal)((1 - @item.Price / @item.PromotionPrice)) * 100))%</span>
                        <div class="images">
                            <a href="/@item.MetaTitle-@item.ID" title="@item.Name"><img data-original="@item.Image" alt="@item.Name" class="lazyload" src="@item.Image" style="display: inline;"></a>
                        </div>
                        <h3><a href="/@item.MetaTitle-@item.ID" title="@item.Name">@item.Name</a></h3>
                        <div class="setprice">
                            <p class="code"><span>Mã sp: @item.Code</span></p>
                            <p class="giaban">@item.Price<sup>đ</sup></p>
                            <del>@item.PromotionPrice</del>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
@section produce{
    @if (produce != null)
    {
        <div class="box-chitiet divdetail pad10">
            @foreach (var item in produce)
            {
                if (item.Name != null)
                {
                    <h2 dir="ltr">@item.Name</h2>
                }
                if (item.Description != null)
                {
                    <p dir="ltr"><span style="font-size:14px;">@item.Description</span></p>
                }
                var e = 1;
                for (var i = 0; i < prodetail.Count(); i++)
                {
                    if (item.ID == prodetail[i].ProduceID)
                    {
                        if (prodetail[i].Name != null)
                        {
                            <h3 dir="ltr"> @(e++). @prodetail[i].Name</h3>
                        }
                        if (prodetail[i].Description != null || prodetail[i].Description != null || prodetail[i].Description1 != null || prodetail[i].Description2 != null || prodetail[i].Description3 != null || prodetail[i].Description4 != null)
                        {
                            <ul dir="ltr">
                                <li><span style="font-size:14px;">@(prodetail[i].Description == null ? "" : prodetail[i].Description)</span></li>
                                <li><span style="font-size:14px;">@(prodetail[i].Description1 == null ? "" : prodetail[i].Description1)</span></li>
                                <li><span style="font-size:14px;">@(prodetail[i].Description2 == null ? "" : prodetail[i].Description2)</span></li>
                                <li><span style="font-size:14px;">@(prodetail[i].Description3 == null ? "" : prodetail[i].Description3)</span></li>
                                <li><span style="font-size:14px;">@(prodetail[i].Description4 == null ? "" : prodetail[i].Description4)</span></li>
                            </ul>
                        }
                    }
                }
            }
        </div>
    }
}
@section jsFooter{
    <div id="jshome"></div>
    }
@*@section news{
        @if (news != null)
        {
            <ul id="tinnoibat">
                @foreach (var item in news)
                {
                    <li>
                        <a href="@item.MetaTitle" title="@item.Name">
                            <img src="@item.Image" alt="@item.Name">
                            <h3>@item.Name</h3>
                            <p><span style="font-size:14px;">@item.Description</span></p>
                        </a>
                    </li>
                }

            </ul>
        }
    }*@