
@model List<Models.EF.Product>
@{
    ViewBag.Title = "Nội Thất Đồ Gỗ Việt, Nội Thất Giá Rẻ Cho Gia Đình, Khách Sạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = (List<Models.EF.Category>)ViewBag.categories;
    var produce = (List<Models.EF.Produce>)ViewBag.produce;
    var prodetail = (List<Models.EF.ProduceDetail>)ViewBag.prodetail;
    var news = (List<Models.EF.News>)ViewBag.news;
    var newProduct = (List<Models.EF.Product>)ViewBag.newproduct;
}
@section banner{
    <div class="block-banner-deal">
        <ul id="slide_div" class="owl-carousel">
            <li class="item">
                <a href="https://noithatdogoviet.com/chuong-trinh-khuyen-mai.html" title="Khuyến Mãi Giường Ngủ Tháng 07 2019"><img src="~/Assets/Client/images/upload/banner/khuyen-mai-giuong-ngu-thang-07-2019-2.jpg" alt="Khuyến Mãi Giường Ngủ Tháng 07 2019" style="opacity:1;" class="owl-lazy"></a>
            </li>

            <li class="item">
                <a href="" title="Tết 2020"><img src="~/Assets/Client/images/upload/banner/tet-2020-3.jpg" style="opacity:1;" alt="Tết 2020" class="owl-lazy"></a>
            </li>

        </ul>
        <span id="element_slide"></span>
    </div>
}
<div class="clear20"></div>
<div class="divide">
    <img src="~/Assets/Client/images/images/divider.png" />
</div>
<div class="title_sale">
    <h2>
        <a title="Sản phẩm bán chạy">Sản phẩm bán chạy</a>
    </h2>
</div>
<div class="rowsp owl-carousel" id="sale_div">
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 14%</span>
            <div class="images">
                <a href="giuong-ngu-thiet-ke-duoi-cong-mem-mai-go-xoan-dao-mau-trang.html" title="Giường Ngủ Thiết Kế Đuôi Cong Mềm Mại Gỗ Xoan Đào Màu Trắng"><img src="~/Assets/Client/images/upload/sanpham/thumbs/giuong-ngu-thiet-ke-duoi-cong-mem-mai-go-xoan-dao-mau-trang.jpg" alt="Giường Ngủ Thiết Kế Đuôi Cong Mềm Mại Gỗ Xoan Đào Màu..."></a>
            </div>
            <h3><a href="giuong-ngu-thiet-ke-duoi-cong-mem-mai-go-xoan-dao-mau-trang.html" title="Giường Ngủ Thiết Kế Đuôi Cong Mềm Mại Gỗ Xoan Đào Màu Trắng">Giường Ngủ Thiết Kế Đuôi Cong Mềm Mại Gỗ Xoan Đào Màu...</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: GN502C-160MT</span></p>
                <p class="giaban">12.500.000<sup>đ</sup></p>
                <del>14.500.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 19%</span>
            <div class="images">
                <a href="salon-go-xoan-dao-nau-canh-gian-tay-10-6-mon.html" title="Salon Gỗ Xoan Đào Nâu Cánh Gián Tay 10 6 Món"><img src="~/Assets/Client/images/upload/sanpham/thumbs/salon-go-xoan-dao-nau-canh-gian-tay-10-6-mon.jpg" alt="Salon Gỗ Xoan Đào Nâu Cánh Gián Tay 10 6 Món"></a>
            </div>
            <h3><a href="salon-go-xoan-dao-nau-canh-gian-tay-10-6-mon.html" title="Salon Gỗ Xoan Đào Nâu Cánh Gián Tay 10 6 Món">Salon Gỗ Xoan Đào Nâu Cánh Gián Tay 10 6 Món</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: SL601T-106CG</span></p>
                <p class="giaban">12.500.000<sup>đ</sup></p>
                <del>15.500.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <span class="discount">- 21%</span>
            <div class="images">
                <a href="giuong-ngu-mau-trang-hien-dai-dep-gia-re.html" title="Giường Ngủ Màu Trắng Hiện Đại Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/giuong-ngu-mau-trang-hien-dai-dep-gia-re.jpg" alt="Giường Ngủ Màu Trắng Hiện Đại Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="giuong-ngu-mau-trang-hien-dai-dep-gia-re.html" title="Giường Ngủ Màu Trắng Hiện Đại Đẹp Giá Rẻ">Giường Ngủ Màu Trắng Hiện Đại Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: GN01N-160MT</span></p>
                <p class="giaban">3.800.000<sup>đ</sup></p>
                <del>4.800.000</del>
            </div>

        </div>
    </li>
    <li class="boxproduct boxsale item">
        <div class="grid">
            <div class="new-item"><img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới"></div><span class="discount">- 18%</span>
            <div class="images">
                <a href="giuong-ngu-hop-hien-dai-mdf-veneer-soi-dep-gia-re.html" title="Giường Ngủ Hộp Hiện Đại MDF Veneer Sồi Đẹp Giá Rẻ"><img src="~/Assets/Client/images/upload/sanpham/thumbs/giuong-ngu-hop-hien-dai-mdf-veneer-soi-dep-gia-re.jpg" alt="Giường Ngủ Hộp Hiện Đại MDF Veneer Sồi Đẹp Giá Rẻ"></a>
            </div>
            <h3><a href="giuong-ngu-hop-hien-dai-mdf-veneer-soi-dep-gia-re.html" title="Giường Ngủ Hộp Hiện Đại MDF Veneer Sồi Đẹp Giá Rẻ">Giường Ngủ Hộp Hiện Đại MDF Veneer Sồi Đẹp Giá Rẻ</a></h3>
            <div class="setprice">
                <p class="code"><span>Mã sp: GN02H-160VS</span></p>
                <p class="giaban">4.500.000<sup>đ</sup></p>
                <del>5.500.000</del>
            </div>

        </div>
    </li>
</div>
<span id="element_sale"></span>
<div class="title_sale">
    <h2>
        <a title="Sản phẩm mới nhất">Sản phẩm mới</a>
    </h2>
</div>
<div class="clear20"></div>
<div class="rowsp owl-carousel" id="new_div">

    @foreach (var item in newProduct)
    {
        <li class="boxproduct boxsale item">
            <div class="grid">
                @if (item.CreateDate >= DateTime.Now.AddDays(-60))
                {
                    <div class="new-item">
                        <img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới">
                    </div>
                }
                @if (item.State != null)
                {
                    <div class="icontext">@item.State</div>
                }
                <span class="discount">- @(Math.Round((decimal)((1 - @item.Price / @item.PromotionPrice)) * 100))%</span>
                <div class="images">
                    <a href="/@item.MetaTitle-@item.ID" title="@item.Name" class="viewIncrease" id="@item.ID"><img data-original="@item.Image" alt="@item.Name" class="lazyload" src="@item.Image" style="display: inline;"></a>
                </div>
                <h3><a href="/@item.MetaTitle-@item.ID" title="@item.Name" class="viewIncrease" id="@item.ID">@item.Name</a></h3>
                <div class="setprice">
                    <p class="code"><span>Mã sp: @item.Code</span></p>
                    <p class="giaban">@item.Price<sup>đ</sup></p>
                    <del>@item.PromotionPrice</del>
            </div>
        </li>
    }
</div>
<span id="element_new"></span>
<div class="clear20"></div>
@foreach (var element in categories)
{
    <div class="title_home">
        <h2><a href="http://localhost:61366/danh-muc/@element.MetaTitle-@element.ID" title="@element.Name">@element.Name</a></h2>
        <a class="xemtatca" href="http://localhost:61366/danh-muc/@element.MetaTitle-@element.ID" title="@element.Name">Xem tất cả »</a>
    </div>
    <div class="clear"></div>
    <div class="rowsp">
        @foreach (var item in Model)
        {
            if (item.CategoryID == element.ID)
            {
                <div class="boxproduct">
                    <div class="grid">
                        @if (item.CreateDate >= DateTime.Now.AddDays(-60))
                        {
                            <div class="new-item">
                                <img src="~/Assets/Client/images/images/new.png" alt="Sản phẩm mới">
                            </div>
                        }
                        @if (item.State != null)
                        {
                            <div class="icontext">@item.State</div>
                        }
                        <span class="discount">- @(Math.Round((decimal)((1 - @item.Price / @item.PromotionPrice)) * 100))%</span>
                        <div class="images">
                            <a href="/@item.MetaTitle-@item.ID" title="@item.Name" class="viewIncrease" id="@item.ID"><img data-original="@item.Image" alt="@item.Name" class="lazyload" src="@item.Image" style="display: inline;"></a>
                        </div>
                        <h3><a href="/@item.MetaTitle-@item.ID" title="@item.Name" class="viewIncrease" id="@item.ID">@item.Name</a></h3>
                        <div class="setprice">
                            <p class="code"><span>Mã sp: @item.Code</span></p>
                            <p class="giaban">@item.Price<sup>đ</sup></p>
                            <del>@item.PromotionPrice</del>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
@section produce{
    @if (produce != null)
    {
        <div class="box-chitiet divdetail pad10">
            @foreach (var item in produce)
            {
                if (item.Name != null)
                {
                    <h2 dir="ltr">@item.Name</h2>
                }
                if (item.Description != null)
                {
                    <p dir="ltr"><span style="font-size:14px;">@item.Description</span></p>
                }
                var e = 1;
                for (var i = 0; i < prodetail.Count(); i++)
                {
                    if (item.ID == prodetail[i].ProduceID)
                    {
                        if (prodetail[i].Name != null)
                        {
                            <h3 dir="ltr"> @(e++). @prodetail[i].Name</h3>
                        }
                        if (prodetail[i].Description != null || prodetail[i].Description != null || prodetail[i].Description1 != null || prodetail[i].Description2 != null || prodetail[i].Description3 != null || prodetail[i].Description4 != null)
                        {
                            <ul dir="ltr">
                                <li><span style="font-size:14px;">@(prodetail[i].Description == null ? "" : prodetail[i].Description)</span></li>
                                <li><span style="font-size:14px;">@(prodetail[i].Description1 == null ? "" : prodetail[i].Description1)</span></li>
                                <li><span style="font-size:14px;">@(prodetail[i].Description2 == null ? "" : prodetail[i].Description2)</span></li>
                                <li><span style="font-size:14px;">@(prodetail[i].Description3 == null ? "" : prodetail[i].Description3)</span></li>
                                <li><span style="font-size:14px;">@(prodetail[i].Description4 == null ? "" : prodetail[i].Description4)</span></li>
                            </ul>
                        }
                    }
                }
            }
        </div>
    }
}
@section jsFooter{
    <div id="jshome"></div>
    <script src="~/Assets/Client/images/skins/main.js"></script>
}
@*@section news{
        @if (news != null)
        {
            <ul id="tinnoibat">
                @foreach (var item in news)
                {
                    <li>
                        <a href="@item.MetaTitle" title="@item.Name">
                            <img src="@item.Image" alt="@item.Name">
                            <h3>@item.Name</h3>
                            <p><span style="font-size:14px;">@item.Description</span></p>
                        </a>
                    </li>
                }

            </ul>
        }
    }*@