@model List<Models.EF.Product>

@{
    ViewBag.Title = "Nội Thất Đồ Gỗ Việt, Nội Thất Giá Rẻ Cho Gia Đình, Khách Sạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var news = ViewBag.newslist as List<Models.EF.News>;
}

@section jsFooter{
    <script src="~/Assets/Client/images/skins/main.js"></script>
    <div id="jspage"></div>
}

@if (Model.Count != 0)
{
    <div class="rowsp tutorial_list ">
        @foreach (var item in Model)
        {
            <div class="boxproduct">
                <div class="grid">
                    @if (item.State != null)
                    {
                        <div class="icontext">@item.State</div>
                    }
                    <span class="discount">- @(Math.Round((decimal)((1 - @item.Price / @item.PromotionPrice)) * 100))%</span>
                    <div class="images">
                        <a href="/@item.MetaTitle-@item.ID" title="@item.Name" class="viewIncrease" id="@item.ID"><img data-original="@item.Image" alt="@item.Name" class="lazyload" src="@item.Image" style="display: inline;"></a>
                    </div>
                    <h3><a href="/@item.MetaTitle-@item.ID" title="@item.Name" class="viewIncrease" id="@item.ID">@item.Name</a></h3>
                    <div class="setprice">
                        <p class="code"><span>Mã sp: @item.Code</span></p>
                        <p class="giaban">@item.Price<sup>đ</sup></p>
                        <del>@item.PromotionPrice</del>
                    </div>
                </div>
            </div>
        }
    </div>
}
<div class="rowsp pad10">
    @if (news != null)
    {
        <ul id="tinnoibat">
            @foreach (var item in news)
            {
                <li>
                    <a href="@item.MetaTitle" title="@item.Name">
                        <img src="@item.Image" alt="@item.Name">
                        <h3>@item.Name</h3>
                        <p><span style="font-size:14px;">@item.Description</span></p>
                    </a>
                </li>
            }

        </ul>
    }

    <div class="clear10"></div>
    <div class="clear10"></div>

</div>
<div class="clear10"></div>
<div class="clear10"></div>
