@if (ViewBag.productlist != null)
{
    foreach (var item in ViewBag.productlist)
    {
            <div class="boxproduct">
                <div class="grid">
                    @if (item.State != null)
                    {
                        <div class="icontext">@item.State</div>
                    }
                    <span class="discount">- @(Math.Round((decimal)((1 - @item.Price / @item.PromotionPrice)) * 100))%</span>
                    <div class="images">
                        <a href="http://localhost:61366/@item.MetaTitle-@item.ID" title="@item.Name" class="viewIncrease" id="@item.ID"><img data-original="@item.Image" alt="@item.Name" class="lazyload" src="@item.Image" style="display: inline;"></a>
                    </div>
                    <h3><a href="http://localhost:61366/@item.MetaTitle-@item.ID" title="@item.Name" class="viewIncrease" id="@item.ID">@item.Name</a></h3>
                    <div class="setprice">
                        <p class="code"><span>Mã sp: @item.Code</span></p>
                        <p class="giaban">@item.Price<sup>đ</sup></p>
                        <del>@item.PromotionPrice</del>                    
                    </div>
                </div>
            </div>
    }
}

