
<!DOCTYPE html>
<html>
<head>
    <title>Mattress A Ecommerce Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <link href="/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Assets/Client/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Mattress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="/Assets/Client/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="/Assets/Client/js/simpleCart.min.js"></script>
    <link href="~/Content/Chosen/chosen.css" rel="stylesheet" />
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="facebok"> </i></a></li>
                        <li><a href="#"><i class="twiter"> </i></a></li>
                        <li><a href="#"><i class="inst"> </i></a></li>
                        <li><a href="#"><i class="goog"> </i></a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="header-left">
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form method="post" enctype="multipart/form-data">
                                <input class="sb-search-input" placeholder="Search..." type="search" value="@ViewBag.KeyWord" name="name">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>
                    <div class="ca-r">
                        <div class="cart box_1">
                            @if (Session["userId"] != null)
                            {
                                <h2>
                                    <a href="@Url.Action("LogoutUser", "Login")" style="color:#fff;text-decoration:none">Logout</a>
                                </h2>}
                            else
                            {
                                <h2><a href="@Url.Action("loginUser", "Login")" style="color:#fff;text-decoration:none">Login</a></h2>
                            }
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <h1><a href="/User/Index">E-car</a></h1>
                </div>
                @{ Html.RenderAction("MainMenu", "Category");}

                <div class="clearfix"> </div>
            </div>
            @RenderBody()
        </div>
    </div>
    @RenderSection("slide", required: false)
    @RenderSection("scripts", false);
    <div class="footer">
        <div class="container">
            <div class="footer-top-at w3">

                <div class="col-md-3 amet-sed w3l">
                    <h4>MORE INFO</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">How to order</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="contact.html">Location</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Membership</a></li>
                    </ul>
                </div>
                <div class="col-md-3 amet-sed w3ls">
                    <h4>CATEGORIES</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Bed linen</a></li>
                        <li><a href="#">Cushions</a></li>
                        <li><a href="#">Duvets</a></li>
                        <li><a href="#">Pillows</a></li>
                        <li><a href="#">Protectors</a></li>
                    </ul>

                </div>
                <div class="col-md-3 amet-sed agileits">
                    <h4>NEWSLETTER</h4>
                    <div class="stay agileinfo">
                        <div class="stay-left wthree">
                            <form action="#" method="post">
                                <input type="text" placeholder="Enter your email " required="">
                            </form>
                        </div>
                        <div class="btn-1 w3-agileits">
                            <form action="#" method="post">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="col-md-3 amet-sed agileits-w3layouts">
                    <h4>CONTACT US</h4>
                    <p>Contrary to popular belief</p>
                    <p>The standard chunk</p>
                    <p>office :  +12 34 995 0792</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
</body>
</html>
