@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_Greetings.Models.ModelsView.CategoryView>

@{
    ViewBag.Title = "showCate";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<h2>showCate</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Occasions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Occasions)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<div style="clear:both"></div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="Menutrang">
    @Html.PagedListPager(Model, page => Url.Action("showCate", new { name = ViewBag.Keyword, page = page }))
</div>
<style>
    .Menutrang li {
        display: inline;
        margin-right: 10px;
    }
</style>